{% extends "market/base.html" %}

{% block header %}
  <div class="jumbotron">
    <h1>{{user.username}}</h1>
    <p>正处于GAIL训练任务，专家轨迹生成阶段。当前的虚拟时间是：<strong>{{datetime}} </strong></p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'market:gail_main' %}" role="button">返回上一步</a>
  </div>
{% endblock header %}

{% block content %}
  <p style="font-size:24px; line-height:2.0">
    生成专家数据
  </p>
  
  <form action="" method="post">
    <div class="row-md-6">
      {% csrf_token %}
      <table class="table">
        {{ generate_data_form }}
      </table>
        <input type="submit" value="开始生成" />
    </div>
  </form>
{% endblock content %}
