{% extends "market/base.html" %}

{% block header %}
  <div class="jumbotron">
    <h1>{{user.username}}</h1>
    <p>欢迎进入股市模拟系统，当前的虚拟时间是：<strong>{{datetime}} </strong></p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'market:sim_main' %}" role="button">开始股市模拟</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-danger btn-lg" href="{% url 'market:sim_reset' %}" role="button">重置虚拟股市</a></p>
  </div>
{% endblock header %}

{% block content %}
  <p style="font-size:24px; line-height:2.0">
     请确保您的目录下存放着对应格式的股票数据，否则将无法导入。
  </p>
  
  <form action="" method="post">
    <div class="row-md-6">
      {% csrf_token %}
      <table class="table">
        {{ form }}
      </table>
        <input type="submit" value="添加" />
    </div>
  </form>
{% endblock content %}
