{% extends "market/base.html" %}

{% block header %}
  <div class="jumbotron">
    <h1>虚拟股市</h1>
    <p>一个探寻交易本质的虚拟引擎</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
  </div>
{% endblock header %}

{% block content %}
  <h2 style="line-height:1.6">
    Welcome to the Virtual Stock Market, where you can play with stocks in a virtual environment.
    At the very beginning, you may have a large amount of money in your account(<em>￥1,000,000</em> for example)
    Then you take a view of stocks in this virtual market, choose any if you are interested in them.
    You can buy or sell(only if you have positive shares) them, every action you take will affect the 
    whole enviroment, leading to the change of the backend data, and your assets.</br>
    <strong>Act now</strong>, and you will get to know how the VSM works.</br>
    If you have any suggestions or advice, please contact <a href="mailto:mp1833013@smail.nju.edu.cn">Amadeus.</a>
  </h2>

{% endblock content %}
